_format_version: "3.0"
services:
  # Productpage service
  - connect_timeout: 60000
    host: productpage.bookinfo.svc.cluster.local
    name: bookinfo-productpage
    path: /
    port: 9080
    protocol: http
    read_timeout: 60000
    retries: 5
    routes:
      - name: bookinfo-productpage-route
        methods:
          - GET
          - POST
        path_handling: v1
        paths:
          - ~/productpage
          - ~/api/v1/products
        preserve_host: false
        strip_path: false
        regex_priority: 200

  # Details service
  - connect_timeout: 60000
    host: details.bookinfo.svc.cluster.local
    name: bookinfo-details
    path: /
    port: 9080
    protocol: http
    read_timeout: 60000
    retries: 5
    routes:
      - name: bookinfo-details-route
        methods:
          - GET
        path_handling: v1
        paths:
          - ~/details/(?<id>[^#?/]+)
        preserve_host: false
        strip_path: false
        regex_priority: 100

  # Reviews service
  - connect_timeout: 60000
    host: reviews.bookinfo.svc.cluster.local
    name: bookinfo-reviews
    path: /
    port: 9080
    protocol: http
    read_timeout: 60000
    retries: 5
    routes:
      - name: bookinfo-reviews-route
        methods:
          - GET
        path_handling: v1
        paths:
          - ~/reviews/(?<id>[^#?/]+)
        preserve_host: false
        strip_path: false
        regex_priority: 100

  # Ratings service
  - connect_timeout: 60000
    host: ratings.bookinfo.svc.cluster.local
    name: bookinfo-ratings
    path: /
    port: 9080
    protocol: http
    read_timeout: 60000
    retries: 5
    routes:
      - name: bookinfo-ratings-route
        methods:
          - GET
        path_handling: v1
        paths:
          - ~/ratings/(?<id>[^#?/]+)
        preserve_host: false
        strip_path: false
        regex_priority: 100
