_format_version: "3.0"

plugins:
  - name: prometheus
    enabled: true
    config:
      per_consumer: false
      status_code_metrics: true
      latency_metrics: true
      bandwidth_metrics: true
      upstream_health_metrics: true
