name: Main CI/CD Pipeline

on:
    push:
        branches:
            - main
        paths:
            - "kong/specs/**"
            - "kong/configs/**"
            - ".github/workflows/**"

jobs:
    security-scan:
        name: Security Scan
        uses: ./.github/workflows/security-scan.yml
        secrets: inherit
        permissions:
            contents: read
            packages: read
            security-events: write

    deploy-to-konnect:
        name: Deploy to Konnect
        # needs: security-scan
        uses: ./.github/workflows/deploy-to-konnect.yml
        secrets: inherit

    publish-api-spec:
        name: Publish API Spec
        needs: deploy-to-konnect
        uses: ./.github/workflows/publish-api-spec.yml
        secrets: inherit
